body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rebeccapurple;
}

div {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    margin: 10px 0px 5px 0px;
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 20px;
    border: 1px rebeccapurple;
    color: white;
}

input {
    padding: 10px;
    border-style: wave;
}

span {
    color : grey;
    font-size: 20px;
}
